:root {
  --main-font-color: #1a1a1a;
  --main-bg-color: #fff;
  --main-theme-color: rgb(243, 168, 47);
  --light-white: #f5f5f5;
  --light-gray: #ccc;
  --light-black: #282a39;
  --font-body-stack: Raleway, Charcoal, sans-serif;
  --font-heading-stack: "PT Serif", sans-serif;
  --container-width: 768px;
}

.choices{
  list-style-type: none;
  margin: 1rem auto;
  display: flex;
  flex-wrap: wrap;
}

.choice{
min-width: 300px;
border-radius: 4px;
display: block;
background: var(--light-white);
margin: 0.5rem auto;
color: var(--light-gray);
letter-spacing: 1.2px;
font-size: 0.86rem;
}

quiz__input {
  
}